.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > h1 {
  color: white;
  font-size: 200%;
}

p > a {
  text-decoration: none;
  color: #6441A5;
}

.meme-form {
  margin: 1em;
}

.meme-form > input {
  margin: .5em;
  font-size: 100%;
}

.meme-form > button {
  font-size: 100%;
  background-color: #6441A5;
  color: white;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > img {
  width: 100%;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 120%;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

@media (min-width: 576px) {
  .meme {
    width: 90%;
  }

  .meme > h2 {
    font-size: 200%;
  }
}

@media (min-width: 768px) {
  .meme {
    width: 90%;
  }

  .meme > h2 {
    font-size: 300%;
  }

  footer {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    color: white;
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  p > a {
    color: white;
  }
}

@media (min-width: 992px) {
  header {
    height: 8em;
  }

  header > h1 {
    font-size: 400%;
  }

  .meme {
    width: 75%;
  }

  .meme > h2 {
    font-size: 350%;
  }
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
